/.vs
/MCOauthLogin/bin
/MCOauthLogin/obj/
/MCOauthLogin/obj
/MCOauthLogin/Properties
/publish
/Debug
*.bat
MCOauthLogin/obj/MCOauthLogin.csproj.nuget.dgspec.json
MCOauthLogin/obj/project.assets.json
MCOauthLogin/obj/project.nuget.cache
MCOauthLogin/MCOauthLogin.csproj.user
